// Extend Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
  @include user-select(none);

  &,
  &:active,
  &.active {
    &:focus {
      @include tab-focus-ext();
    }
  }

  &:hover,
  &:focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow($button-active-box-shadow);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    @include opacity(.65);
    @include box-shadow(none);
  }
}


// Extend Alternate buttons
// --------------------------------------------------

.btn-default {
  @include button-variant-ext($btn-default-color, $btn-default-bg, $btn-default-border, $btn-default-border-radius , $btn-default-hover-color, $btn-default-hover-bg, $btn-default-hover-border, $btn-default-active-color, $btn-default-active-bg, $btn-default-active-border);
}
.btn-primary {
  @include button-variant-ext($btn-primary-color, $btn-primary-bg, $btn-primary-border, $btn-primary-border-radius, $btn-primary-hover-color, $btn-primary-hover-bg, $btn-primary-hover-border, $btn-primary-active-color, $btn-primary-active-bg, $btn-primary-active-border);
}
.btn-secondary {
  @include button-variant-ext($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border, $btn-secondary-border-radius, $btn-secondary-hover-color, $btn-secondary-hover-bg, $btn-secondary-hover-border, $btn-secondary-active-color, $btn-secondary-active-bg, $btn-secondary-active-border);
}
// Success appears as green
.btn-success {
  @include button-variant-ext($btn-success-color, $btn-success-bg, $btn-success-border, $btn-success-border-radius, $btn-success-hover-color, $btn-success-hover-bg, $btn-success-hover-border, $btn-success-active-color, $btn-success-active-bg, $btn-success-active-border);
}
// Info appears as blue-green
.btn-info {
  @include button-variant-ext($btn-info-color, $btn-info-bg, $btn-info-border, $btn-info-border-radius, $btn-info-hover-color, $btn-info-hover-bg, $btn-info-hover-border, $btn-info-active-color, $btn-info-active-bg, $btn-info-active-border);
}
// Warning appears as orange
.btn-warning {
  @include button-variant-ext($btn-warning-color, $btn-warning-bg, $btn-warning-border, $btn-warning-border-radius, $btn-warning-hover-color, $btn-warning-hover-bg, $btn-warning-hover-border, $btn-warning-active-color, $btn-warning-active-bg, $btn-warning-active-border);
}
// Danger and error appear as red
.btn-danger {
  @include button-variant-ext($btn-danger-color, $btn-danger-bg, $btn-danger-border, $btn-danger-border-radius, $btn-danger-hover-color, $btn-danger-hover-bg, $btn-danger-hover-border, $btn-danger-active-color, $btn-danger-active-bg, $btn-danger-active-border);
}

