// WebKit-style focus
@mixin tab-focus-ext() {
  // Default
  outline: $tab-focus-default-width $tab-focus-default-style;
  // WebKit
  outline-color: $tab-focus-webkit-color;
  outline-style: $tab-focus-webkit-style;
  outline-width: $tab-focus-webkit-width;  
  outline-offset: $tab-focus-webkit-offset;
}


// Button variants
// -------------------------
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons
@mixin button-variant-ext($color, $background, $border, $border-radius, $color-hover, $background-hover, $border-hover, $color-active, $background-active, $border-active) {
  color: $color;
  background-color: $background;
  border-color: $border;
  @include border-radius($border-radius);
  
  &:hover{
  	color: $color-hover;
    background-color: $background-hover;
        border-color: $border-hover;
  }
  &:focus,
  &:active{
  	color: $color-active;
    background-color: $background-active;
        border-color: $border-active;
  }
  &.active {
    color: $color-active;
    background-color: $background-active;
        border-color: $border-active;
  }
  .open & { &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 8%);
        border-color: darken($border, 12%);
  } }
  &:active,
  &.active {
    background-image: none;
  }
  .open & { &.dropdown-toggle {
    background-image: none;
  } }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}