// additional variables for bootstrap
// --------------------------------------------------

//== Forms
//
//##

$input-border-width: 1px !default;

$input-large-border-radius: $input-border-radius !default;

$input-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !default;



//== Buttons
//
//##

$button-border-radius-base: $border-radius-base !default; 

$button-active-box-shadow: inset 0 3px 5px rgba(0,0,0,.125) !default;

// hover state
$btn-default-hover-color: $btn-default-color !default;
$btn-default-hover-bg: darken($btn-default-bg, 8%) !default;
$btn-default-hover-border: darken($btn-default-border, 12%) !default;

$btn-primary-hover-color: $btn-primary-color !default;
$btn-primary-hover-bg: darken($btn-primary-bg, 8%) !default;
$btn-primary-hover-border: darken($btn-primary-border, 12%) !default;

$btn-success-hover-color: $btn-success-color !default;
$btn-success-hover-bg: darken($btn-success-bg, 8%) !default;
$btn-success-hover-border: darken($btn-success-border, 12%) !default;

$btn-info-hover-color: $btn-info-color !default;
$btn-info-hover-bg: darken($btn-info-bg, 8%) !default;
$btn-info-hover-border: darken($btn-info-border, 12%) !default;

$btn-warning-hover-color: $btn-warning-color !default;
$btn-warning-hover-bg: darken($btn-warning-bg, 8%) !default;
$btn-warning-hover-border: darken($btn-warning-border, 12%) !default;

$btn-danger-hover-color: $btn-danger-color !default;
$btn-danger-hover-bg: darken($btn-danger-bg, 8%) !default;
$btn-danger-hover-border: darken($btn-danger-border, 12%) !default;


// focus/active state
$btn-default-active-color: $btn-default-color !default;
$btn-default-active-bg: darken($btn-default-bg, 8%) !default;
$btn-default-active-border: darken($btn-default-border, 12%) !default;

$btn-primary-active-color: $btn-primary-color !default;
$btn-primary-active-bg: darken($btn-primary-bg, 8%) !default;
$btn-primary-active-border: darken($btn-primary-border, 12%) !default;

$btn-success-active-color: $btn-success-color !default;
$btn-success-active-bg: darken($btn-success-bg, 8%) !default;
$btn-success-active-border: darken($btn-success-border, 12%) !default;

$btn-info-active-color: $btn-info-color !default;
$btn-info-active-bg: darken($btn-info-bg, 8%) !default;
$btn-info-active-border: darken($btn-info-border, 12%) !default;

$btn-warning-active-color: $btn-warning-color !default;
$btn-warning-active-bg: darken($btn-warning-bg, 8%) !default;
$btn-warning-active-border: darken($btn-warning-border, 12%) !default;

$btn-danger-active-color: $btn-danger-color !default;
$btn-danger-active-bg: darken($btn-danger-bg, 8%) !default;
$btn-danger-active-border: darken($btn-danger-border, 12%) !default;

// border-radius

$btn-default-border-radius: $button-border-radius-base !default;
$btn-primary-border-radius: $button-border-radius-base !default;
$btn-secondary-border-radius: $button-border-radius-base !default;
$btn-success-border-radius: $button-border-radius-base !default;
$btn-info-border-radius: $button-border-radius-base !default;
$btn-warning-border-radius: $button-border-radius-base !default;
$btn-danger-border-radius: $button-border-radius-base !default;

$tab-focus-default-width: thin !default;
$tab-focus-default-style: dotted !default;
$tab-focus-webkit-color: -webkit-focus-ring-color !default;
$tab-focus-webkit-style: auto !default;
$tab-focus-webkit-width: 5px !default;
$tab-focus-webkit-offset: -2px !default;

$badge-border-color: $badge-color !default;

